extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 API actions
  b /provider
  p to specify provider name and items count for upload
  b /client
  p to specify client name and items count for download
  b /upload
  p to get uploaded items count for specified provider
  b /download
  p to get downloaded items count for specified client
